/*
thin 100
extra-light 200
light 300
regular 400
medium 500
semi-bold 600
bold 700
extra-bold 800
black 900
*/

// ------------------ variables, mixins, el.extends ------------------
@mixin psdWidth($elementWidth) {
  width: percentage($elementWidth/1500);
}

@mixin fontSize($elementFontSize) {
  font-size: ($elementFontSize/16)+rem;
}


// ------------------ styles -------------------------
/* general utilities */

* {
  box-sizing: border-box;
}

body {
  background-color: pink;
  font-family: 'Raleway', sans-serif;
  line-height: 180%;
  font-size: 16px;
}

body,
.container-fluid {
  padding: 0;
  margin: 0;
}

.wrapper {
  @include psdWidth(1200);
  margin: auto;
  max-width: 1200px;
}

.flexVerticalCenter {
  display: flex;
  align-items: center;
}

h1 {
  @include fontSize(60);
  font-weight: 900;
}

h2 {
  @include fontSize(90);
  color: white;
  font-weight: 700;
}

h3 {
  @include fontSize(45);
  font-weight: 800;
}

a, a:link, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.bttn {
  width: 150px;
  height: 45px;
  outline: none;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  box-shadow: 2px 2px 3px rgba(0,0,0,.2);
  position: relative;
  cursor: pointer;
  color: white;
  &:hover{
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    box-shadow: 3px 3px 4px rgba(0,0,0,.2);
  }
  &:active{
    top: 1px;
    left: 1px;
  }
}


/* ----------- HEADER ----------- */
header {
  background: url('../images/bcgrndHead.jpg') center center / cover no-repeat fixed;
}

/* NAV */



#headerContent {
  height: 100vh;
  .wrapper{
    padding-top: 13%;
  }
  p{
    padding: 15px 0;
  }
  .bttn {
    background: #ff6033;
  }
}

  .scrollIcon {
    animation: scrollDown 2s 8 ease-in-out;
    position: absolute;
    left: 50%;
    bottom: 30px;
  }

@keyframes scrollDown {
  0%, 100% {bottom: 30px;}
  50% {bottom: 50px;}
}

/* ----------- MAIN ----------- */
/* ABOUT */
#aboutUs{
  background: #00b1b1;
  .row>div.col-xs-12.col-sm-6:nth-of-type(2){
    padding-top: 10%;
  }
  img{
    padding: 40px;
  }
  p{
    color: white;
    font-weight: 300;
    @include psdWidth(1200);
  }
}


/* SERVICES */
#ourServices{
  background: #70bfff;
  padding: 80px 0;
  .col-xs-12.col-sm-5{
    height: 100%;
    h2{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
    .col-xs-12.col-sm-4 {
    padding-top: 100px;
  }
}

.serviceBttn{
  height: 80px;
  background: white;
  margin: 10px auto;
  text-align: center;
  box-shadow: 3px 3px 4px rgba(0,0,0,.2);
  p{
    font-weight: 700;
    @include fontSize(26);
    margin: 0;
  }
  &:hover {
    color: #00b9b9;
    & img{
      animation: shake 2s 3 ease-in-out;
    }
  }
  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
  .col-xs-3 {
    border-left: 1px solid #9d9d9d;
    height: 100%;
    padding: 15px;
  }
}

@keyframes shake {
  0%, 100% {transform: rotateX(0deg);}
  25% {transform: rotate(-10deg);}
  75% {transform: rotate(10deg);}
}


/* GALLERY */
#gallery{
  background: #ffe92f;
  padding: 80px 0;
  .bttn {
    display: block;
    margin: 50px auto 20px auto;
    background-color: #5585a2;
  }
  .sectionHeader {
    h2{
      color: black;
    }
  }
  img {
    box-shadow: 3px 3px 4px rgba(0,0,0,.2);
  }
  .row .row img:first-of-type{
    margin-bottom: 30px;
  }
  p {
    padding-bottom: 30px;
  }
}

.sectionHeader {
    @include psdWidth(750);
    margin: auto;
    text-align: center;
}

/* SUBSCRIBE */
#subscribe {
  background: white url('../images/bcgrndSubscribe.jpg') no-repeat right center;
  background-size: auto 80%;
  padding: 70px 0;
  input:first-of-type {
    height: 45px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  .bttn {
    background-color: #96b92c;
  }
}


/* BLOG */
#blog {
  background: #b07cf7;
  padding: 50px 0 80px 0;
  .sectionHeader>p{
    color: white;
  }
  .bttn{
    display: block;
    margin: auto;
    background: #f72b3b;
  }
}



/* CONTACT */
#contact {
  background: url('../images/bcgrndContact.jpg') center center / cover no-repeat fixed;
  
}



/* ----------- FOOTER ----------- */